.panel-default{
	width:90%;
	border-radius:0;  
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.date-time{
	text-align:right;
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p{
	margin: 10px 20px;
}
.annc{
	margin-bottom: 10px;
}