.register_title{
	background-image: url(../images/nav_li_a.jpg);
	background-repeat: no-repeat;
	border-bottom: 1px solid #4A939E;
	width: 70%;
	height: 30px;
	color: #FFFAFA;
	line-height: 30px;
	text-indent: 2em;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.register_bar{
	width: 580px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
}
.label1{
	width: 185px;
	color: #B5B5B5;
}
.label2{
	width: 185px;
	color: #B5B5B5;
}
.label3{
	width: 185px;
	color: #B5B5B5;
}
.process1{
	height: 32px;
	width: 498px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background: url(../images/process_bar.jpg);
	background-position: 0 0;
	background-repeat:no-repeat;
}
.process2{
	height: 32px;
	width: 498px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background: url(../images/process_bar.jpg);
	background-position: 0 -32px;
	background-repeat:no-repeat;
}
.process3{
	height: 32px;
	width: 498px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background: url(../images/process_bar.jpg);
	background-position: 0 -64px;
	background-repeat:no-repeat;
}
.process4{
	height: 32px;
	width: 498px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background: url(../images/process_bar.jpg);
	background-position: 0 -96px;
	background-repeat:no-repeat;
}
.active{
	color: #4A939E;
}
.center-block{
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
}

.register_button{
	width: 85px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #4A939E;
	color: white;
}
/*************************************form*************************************/
#inputDiv, #confirmDiv, #okDiv{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.width400{
	width: 300px;
	margin-left: 15px;
	float: left;
}
.width100{
	width: 100px;
	float: left;
}

/*************************************confirm*************************************/
#confirmDiv{
	display: none;
}
.cfmPiece{
	margin-top: 10px;
	font-size: 15px;
}

/*************************************OK*************************************/
#okDiv{
	color: #FF7F24;
	text-align: center;
	font-size: 15px;
	margin-bottom: 80px;
	display: none;
}









